div.contenitore{
	width: auto;
}

header{
	width: auto;
}

nav {
	width: auto;
}

main{
	width: auto;
}
footer{
	width: auto;
}

.slider-wrapper {
    border-radius: 0;
  }

  .slider-wrapper .info {
    opacity: 0;
  }

  html{
    font-size: 86%;
  }
  p{
    font-size: 1.1rem;
  }
 
 
  div.topnav ul.menuUl li.menuItem a.menuItem{
      display: none;
    }
    div.topnav ul.menuUl li.iconaBurger a.icon i.fa.fa-bars {
      float: right;
      display: flex;
    }
  
  
    .topnav.responsive {position: relative;}
    .topnav.responsive ul.menuUl li.iconaBurger a.icon i.fa.fa-bars {
      position: relative;
      right: 0;
      top: 0;
    }
    .topnav.responsive ul.menuUl li.menuItem a.menuItem {
      float: left;
      display: flex;
      text-align: center;
      font-size: 19px;
    }
  

   div.containerLastWork{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }