/* IL MIO FILE CSS CHE POI UNIRAI AL MAIN.CSS */

/****** CONTACT US*******/

.contactContainer {
    width: 98%;
    margin: 0 auto;
}

.googleMap{
    width: 100%;
    height: 500px;
    /*border-radius: 2px;
    border: 1px solid #E32C2B;*/
}

.googleFrame {
    width: 100%;
    height: 100%;
}

/*div.titoloH1 {
    margin: 0 auto;
    text-align: center;
    width: 85%;
    margin-top: 5%;
    height: 70px;
    border-bottom: #E32C2B solid 3px;
    font-family: "Leixo";
}*/

.contactUsTitleheader {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    height: 70px;
    border-bottom: #E32C2B solid 3px;
    font-family: "Leixo";
}

.contactUsIntro {
    width: 96%;
    margin: 5% auto;
}

p.contactInfo {
    font-size: 15px;
    line-height: 6px;
}

/*.googleMap {
    border-bottom:1px solid #000;
    border-bottom-width: 1px;
    -webkit-animation: increase 3s;
    -moz-animation:    increase 3s; 
    -o-animation:      increase 3s; 
    animation:         increase 3s; 
    animation-fill-mode: forwards;
}
  
@keyframes increase {
    100% {
        border-bottom-width: 10px;
    }
}*/
.googleMap {
    position: relative;
}
/*.googleMap:after {
    content:""; 
    background: #E32C2B; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 0%; 
    width: 3px;
    -webkit-animation: increase 1.5s;
    -moz-animation:    increase 1.5s; 
    -o-animation:      increase 1.5s; 
    animation:         increase 1.5s; 
    animation-fill-mode: forwards;
}*/

/*.googleMap::before {
    content:""; 
    background: #E32C2B; 
    position: absolute; 
    top: 0; 
    right: 0; 
    height: 0%; 
    width: 100%;
    -webkit-animation: increase 1.5s;
    -moz-animation:    increase 1.5s; 
    -o-animation:      increase 1.5s; 
    animation:         increase 1.5s; 
    animation-fill-mode: forwards;
}
@keyframes increase {
    100% {
        height: 100%;
    }
}*/

.googleMap::after {
    content:"";
    position: absolute; 
    top: 0; 
    right: 0;
    left: 0;
    height: 0%; 
    border-left: 3px solid #E32C2B;
    border-right: 3px solid #E32C2B;
    /*width: 100%;*/
    -webkit-animation: increase 1.5s;
    -moz-animation:    increase 1.5s; 
    -o-animation:      increase 1.5s; 
    animation:         increase 1.5s; 
    animation-fill-mode: forwards;
}
@keyframes increase {
    100% {
        height: 100%;
    }
}
