/* IL MIO FILE CSS CHE POI UNIRAI AL MAIN.CSS */

/****** CONTACT US*******/

.contactContainer {
    width: 98%;
    margin: 0 auto;
}

.googleMap{
    width: 100%;
    height: 500px;
    /*border-radius: 2px;
    border: 1px solid #E32C2B;*/
}

.googleFrame {
    width: 100%;
    height: 100%;
}

/*div.titoloH1 {
    margin: 0 auto;
    text-align: center;
    width: 85%;
    margin-top: 5%;
    height: 70px;
    border-bottom: #E32C2B solid 3px;
    font-family: "Leixo";
}*/

.contactUsTitleheader {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    height: 70px;
    /*border-bottom: #E32C2B solid 3px;*/
    font-family: "Leixo";
    position: relative;
}

.contactUsIntro {
    width: 96%;
    margin: 5% auto;
}

p.contactInfo {
    font-size: 15px;
    line-height: 6px;
}

.googleMap {
    position: relative;
}

.contactUsTitleheader::before {
    content:"";
    position: absolute;
    bottom:0;
    left:50%;
    border-bottom:3px solid red;
    width:0%;
    text-align:center;
    animation: line 2s linear forwards;
}
@keyframes line {
    from {
        left:50%;
        width:0%;
    }
    to {
        left:0%;
        width:100%;
    }
}

.googleMap::before {
    content:"";
    position: absolute; 
    top: 0; 
    right: 0;
    left: 0;
    height: 0%; 
    border-left: 3px solid #E32C2B;
    border-right: 3px solid #E32C2B;
    /*width: 100%;*/
    -webkit-animation: increase 2s;
    -moz-animation:    increase 2s; 
    -o-animation:      increase 2s; 
    animation:         increase 2s; 
    animation-fill-mode: forwards;
}
@keyframes increase {
    100% {
        height: 100%;

    }
}
/*.contactUsTitleheader:hover + */

.contactForm {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contactForm form {
    width: 80%;
}

.spicyInput {
    margin-bottom: 30px;
    font-size: 20px;
    width: 100%;
}

.flexDiv {
    display: flex;
    justify-content: center;
}

input {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #E32C2B;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
input:focus {
    border-color: #E32C2B;
}

.inputName input {
    width: 90%;
}